.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: #2c2c6c;
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
  box-shadow: 10px -8px #4db5ff ;
}

.portfolio__item:hover {
  border-color: #4db5ff;
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item-image1{
  border-radius: 1.5rem;
  overflow: hidden;
  height: 13.3rem;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/*======================================== media queries (medium) ==============================*/

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*======================================== media queries (smaall) ==============================*/

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
