.about__container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about__me {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(45deg, transparent, #0b5c95, transparent);
  display: grid;
  place-items: center;
}
.about__me-image {
  border-radius: 2rem;
  width: 100%;
  overflow: hidden;
  transform: rotate(10deg);
  transition: all 400ms ease;
}
.about__me-image:hover {
  transform: rotate(0);
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.about__card {
  background: #2c2c6c;
  border: solid 1px transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transform: all 400ms ease;
  cursor: pointer;
}
.about__card:hover {
  background: transparent;
  border-color: rgba(77, 181, 255, 0.4);
}

.about__icon {
  color: #4db5ff;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}
.about__card h5 {
  font-size: 0.95rem;
}
.about__card small {
  font-size: 0.7rem;
  color: white;
}
.about__content p {
  margin: 2rem 0 2.6rem;
}
.texte__experience{
  text-align: justify;
 line-height: 1.6rem;
}

/*======================================== media queries (medium) ==============================*/
@media screen and (max-width: 1024px) {
  .about__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about__me {
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .about__content p {
    margin: 1rem 1 1.5rem;
  }
}
/*======================================== media queries (small) ==============================*/
@media screen and (max-width: 600px) {
  .about__me {
    width: 55%;
    margin: 0 auto 3rem;
  }
  .about__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .about__content{
    text-align: center;
  }
  .about__content p{
    margin: 1.5rem 0;
  }
}
