header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}
/*=========================== CV ========================*/
.cv {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*=========================== social header ========================*/

.header__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}
.header__social::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: #4db5ff;
}

/*=========================== moi ========================*/

.moi {
  background: linear-gradient(#41abf6, transparent);
  background: #034777;
  width: 22rem;
  height: 27rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0rem 0rem;
  overflow: hidden;
}
/*=========================== scroll ========================*/

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: -0.1rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
.scroll__down::after{
  content: "";
  width: 1px;
  height: 2rem;
  background: #4db5ff;
}
/*======================================== media queries (medium) ==============================*/
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}
/*======================================== media queries (small) ==============================*/
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__social,
  .scroll__down {
    display: none;
  }
}
