.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;

}
.experience__container > div {
  background: #2c2c6c;
  padding: 5.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: all 400ms ease;
  box-shadow: 10px -8px #4db5ff;
  

}
.experience__container > div:hover {
  cursor: all-scroll;
  background: transparent;
  border-color: #2c2c6c;
  transform: scale(1.1);

}
.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: #4db5ff;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience__details {
  display: flex;
  gap: 1rem;
}
.experience__details-icon {
  margin-top: 6px;
  color: #4db5ff;
}

/*======================================== media queries (medium) ==============================*/
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  .experience__content {
    padding: 1rem;
  }
}
/*======================================== media queries (small) ==============================*/
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 2rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
