nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  display: block;
  z-index: 2;
  margin-left: 50%;
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  transform: translateX(-50%);
  position: fixed;
}
nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: white;
  font-size: 1.1rem;
}
nav a:hover {
  background: #083758;
}
nav a.active {
  background: #1f1f38;
  color: white;
}
